<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        form {
            border: 3px solid #f1f1f1;
        }



        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }



        button {
            background-color: #f44336;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }



            button:hover {
                opacity: 0.8;
            }



        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }



        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }



        img.avatar {
            width: 40%;
            border-radius: 50%;
        }



        .container {
            padding: 16px;
        }



        span.psw {
            float: right;
            padding-top: 16px;
        }
    </style>
</head>
<body>



    <h2>Регистрация</h2>



    <form action="/action_page.php" method="post">
        <div class="imgcontainer">
            <img src="https://uploads-ssl.webflow.com/5f97769d53d2da6f7a84cf65/5f97c420ff01e7144e1b08fe_my%20account%20icon.png" alt="Avatar" class="avatar">
        </div>



        <div class="container">
            <label for="uname"><b>Потребителско Име</b></label>
            <input type="text" placeholder="Въведете Потребителско Име" name="uname" required>
            <br>



            <br>
            <label for="psw"><b>Парола</b></label>
            <input type="password" placeholder="Въведете Парола" name="psw" required>
            <br>



            <br>
            <label for="psw"><b>Собствено Име</b></label>
            <input type="password" placeholder="Въведете Собствено Име" name="psw" required>
            <br>



            <br>
            <label for="psw"><b>Бащино Име</b></label>
            <input type="password" placeholder="Въведете Бащино Име" name="psw" required>
            <br>



            <br>
            <label for="psw"><b>Фамилия</b></label>
            <input type="password" placeholder="Въведете Фамилията" name="psw" required>
            <br>



            <br>
            <label for="psw"><b>ЕГН</b></label>
            <input type="password" placeholder="Въведете ЕГН" name="psw" required>
            <br>



            <br>
            <label for="psw">
                <b>
                    Телефонен Номер
                    <input type="password" placeholder="Въведете Телефонен Номер" name="psw" required>
                    <br>



                    <br>
                    <label for="psw"><b>Имейл</b></label>
                    <input type="password" placeholder="Въведете Имейл" name="psw" required>
                    <br>



                    <br>
                    <input type="checkbox" id="admin" name="admin" value="Admin">
                    <label for="admin">Администратор</label><br>
                    <br>



                    <br>
                    <div class="container" style="background-color:#f1f1f1">
                        <button type="submit">Влез</button>
                        <label>
                        </label>
                    </div>



                    <div class="container" style="background-color:#f1f1f1">
                        <button type="button" class="cancelbtn">Назад</button>
                    </div>
    </form>



</body>
</html>