@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>Application Name: Hotel Reservation Manager</h3>
<p>Developement Team: Nikola Vasilev, iliya Vasilev, Mario Lobodov</p>
<p>Note! The app is still under construction!</p>
