@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Us:</h3>

<address>
    Smolyan, Bulgaria<br />
    <abbr title="Phone">Phone Number: 0871234567</abbr>
  
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:hotelreservationmanagersupport@gmail.com">hotelreservationmanagersupport@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:hotelreservationmanagermsrketing@gmail.com">hotelreservationmanagermsrketing@gmail.com</a>
</address>